<tr>
	<td></td>
	<td colspan="3">
		<table class="table">
			<tr>
				<td rowspan="2"><%=answer.user.name%></td>
				<td colspan="3">Titulo Respuesta</td>
			</tr>
			<tr>
				<td colspan="3"><%=answer.body%></td>
			</tr>
			<%= render :partial => "comment", :collection => answer.comments %>
		</table>
	</td>
</tr>