<tr>
	<td></td>
	<td colspan="3">
		<table class="table">
			<tr>
				<td rowspan="1"><%=comment_question.user.name%><br>
				<td colspan="3"><%=comment_question.body%></td>
			</tr>
		</table>
	</td>
</tr>