<tr>
	<td></td>
	<td></td>
	<td colspan="2">
		<table class="table">
			<tr>
				<td rowspan="2"><%=comment.user.name%></td>
				<td colspan="3">Titulo Comentario</td>
			</tr>
			<tr>
				<td colspan="3"><%=comment.body%></td>
			</tr>
		</table>
	</td>
</tr>