<tr>
	
	<td colspan="4">
		<table class="table">
			<tr>
				<td rowspan="2"><%=@question.user.name %></td>
				<td colspan="3"><%=@question.title%></td>
			</tr>
			<tr>
				<td colspan="3"><%=@question.body%></td>
			</tr>
		</table>
	</td>
</tr>
