<h1>Listado de Preguntas</h1>
<br>

<table class="table table-hover table-bordered" style="border-width: 5px;border: solid; border-color:  #000000 ;">
<thead>
  <tr style="border-width: 5px;border: solid; border-color:  #000000 ;">
    <th style="border-width: 5px;border: solid; border-color:  #000000 ;">Titulo</th>
    <th style="border-width: 5px;border: solid; border-color:  #000000 ;">Cuerpo</th>
    <th style="border-width: 5px;border: solid; border-color:  #000000 ;">Usuario</th>
    <th style="border-width: 5px;border: solid; border-color:  #000000 ;">Fecha</th>
  </tr>
</thead>
  <% @listaQuestions.each do |v| %>
  <tbody style="border-width: 5px;border: solid; border-color:  #000000 ;">

  <tr style="border-width: 5px;border: solid; border-color:  #000000 ;">
    <td style="border-width: 5px;border: solid; border-color:  #000000 ;"><%= link_to v.title ,v%></td>
    
    <td style="border-width: 5px;border: solid; border-color:  #000000 ;"><FONT FACE="Comic Sans MS"><%= truncate( v.body, length: 30)%></FONT>></td>


    <td style="border-width: 5px;border: solid; border-color:  #000000 ;"> <%= link_to v.user.email ,v.user%></td>

    <td style="border-width: 5px;border: solid; border-color:  #000000 ;"><%=v.created_at.strftime("%Y-%m-%d")%></td>
  </tr>
  <%end%>
  </tbody>
</table>