<h1>Listado de Preguntas</h1>
<br>

<table class="table">
<thead>
  <tr>
    <th>Titulo</th>
    <th>Cuerpo</th>
    <th>Usuario</th>
    <th>Fecha</th>
  </tr>
</thead>
  <% @listaQuestions.each do |v| %>
  <tbody>

  <tr>
    <td><%= link_to v.title ,v%></td>
    
    <td><%= truncate( v.body, length: 30)%></td>

    <td> <%=v.user.name%></td>

    <td><%=v.created_at%></td>
  </tr>
  <%end%>
  </tbody>
</table>