<div class="Efecto">Listado de Etiquetas</div>
<br><br>

<table class="table">
<thead>
  <tr>
    <th>Titulo</th>
    <th>Estado</th>
  </tr>
</thead>
  <% @lista_labels.each do |v| %>
  <tbody>
  <tr>
    <td><%= link_to v.title , v%></td>
    <td>
    <% if v.active%>
          Activada  
    <% else %>
          Desactivada
    <% end %>
    </td>
    <%if current_user.permit('Administrar Etiquetas')%>
      <td><%= link_to "Eliminar", v, method: :delete, :data => {:confirm => 'Está seguro?'} , class: 'btn btn-danger' %></td>
    <%end%>
  </tr>
  <%end%>
  </tbody>
</table>
