<h1>Listado Etiquetas</h1>
<br><br>

<table class="table">
<thead>
  <tr>
    <th>Titulo</th>
    <th>Active</th>
  </tr>
</thead>
  <% @lista_labels.each do |v| %>
  <tbody>
  <tr>
    <td><%= link_to v.title , v%></td>
    <td><%=v.active%></td>

  </tr>
  <%end%>
  </tbody>
</table>
