<tr style="border-width: 5px;border: solid; border-color:  #000000 ;">

    <td style="border-width: 5px;border: solid; border-color:  #000000 ;"> <%=action.name%></td>
    <td style="border-width: 5px;border: solid; border-color:  #000000 ;"> <%=action.points%></td>

 </tr>