<tr style="border-width: 5px;border: solid; border-color:  #000000 ;">
    <td style="border-width: 5px;border: solid; border-color:  #000000 ;"><%= link_to myQuestions.title ,myQuestions%></td>
    
    <td style="border-width: 5px;border: solid; border-color:  #000000 ;"><FONT FACE="Comic Sans MS"><%= truncate( myQuestions.body, length: 30)%></FONT>></td>

    <td style="border-width: 5px;border: solid; border-color:  #000000 ;"><%=myQuestions.created_at.strftime("%Y-%m-%d")%></td>
  </tr>