<div class="Efecto">Listado de Niveles</div>
<br><br>

<table class="table">
<thead>
  <tr>
    <th>Titulo</th>
    <th>Active</th>
  </tr>
</thead>
  <% @levels.each do |v| %>
  <tbody>
  <tr>
    <td><%=v.name%></td>
    
    <td><%=v.points%></td>
    <td><%= link_to "Editar", edit_level_path(v) %></td>
    <td><%= link_to "Eliminar", v, method: :delete, :data => {:confirm => 'Está seguro?'}  %></td>
  </tr>
  <%end%>
  </tbody>
</table>
