<h1>Listado de Niveles</h1>
<br><br>

<table class="table">
<thead>
  <tr>
    <th>Titulo</th>
    <th>Active</th>
  </tr>
</thead>
  <% @levels.each do |v| %>
  <tbody>
  <tr>
    <td><%=v.name%></td>
    
    <td><%=v.points%></td>
    <td><%= link_to "Eliminar", v, method: :delete  %></td>
    <td><%= link_to "Editar", edit_level_path(v) %></td>
  </tr>
  <%end%>
  </tbody>
</table>
