<div class="Efecto">Lista de Universidades</div>
<br><br>

<table class="table">
<thead>
  <tr>
    <th>Nombre</th>
    <th>Provincia</th>
    <th>URL</th>
  </tr>
</thead>
  <% @lista_facultades.each do |v| %>
  <tbody>
  <tr>
    <td><%=v.name%></td>
    <td><%=v.province%></td>
    <td><%=v.url%></td>
    
    <%if current_user%>
      <%if current_user.permit('Administrar Univeridades')%>
        <td><%= link_to "Editar", edit_university_path(v) %></td>
      <%end%>
     
    <%end%>
  </tr>
  <%end%>
  </tbody>
</table>
