<div class="Efecto">Lista de Universidades</div>
<br><br>

<table class="table">
<thead>
  <tr>
    <th>Nombre</th>
    <th>Provincia</th>
    <th>URL</th>
    <th></th>
  </tr>
</thead>
  <% @lista_facultades.each do |v| %>
  <tbody>
  <tr>
    <td><%=v.name%></td>
    <td><%=v.province%></td>
    <td><%=v.url%></td>
    <% if !current_user.nil? &&(current_user.permit("Administrar"))%> 
    <td><%= link_to "Eliminar", v, method: :delete, :data => {:confirm => 'Está seguro?'} ,class: 'btn btn-danger' %></td>
    <% end %>
  </tr>
  <%end%>
  </tbody>
</table>
